#roll {
  font-family: verdana;
  font-size : 100px;
  color: blue;
  display: block;
  margin-left:auto;
  margin-right:auto;
}




#gettypic {
  display: block;
    text-align:center;
display:block
}